---
Language:        Cpp
ColumnLimit:     88
# AlignAfterOpenBracket: AlwaysBreak
AlignAfterOpenBracket: BlockIndent
IndentWidth: 2
ContinuationIndentWidth: 2
SortIncludes: false
PointerAlignment: Left
IndentCaseLabels: true
# BreakBeforeBraces: Custom
# BraceWrapping:
#   BeforeLambdaBody: false

# LambdaBodyIndentationKind: Signature

# BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
# PenaltyReturnTypeOnItsOwnLine: 10000
AlwaysBreakTemplateDeclarations: Yes
...


