---
Checks: '
  clang-analyzer-*,

  performance-*,
  -performance-enum-size,

  portability-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-avoid-goto,

  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -modernize-use-nodiscard,
  -modernize-use-designated-initializers,
  -modernize-avoid-c-arrays,

  readability-*,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-make-member-function-const,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-uppercase-literal-suffix,
  -readability-isolate-declaration,
  -readability-math-missing-parentheses
'

CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted
    value: true
...
