[submodule "deps/webgpu_tools"]
	path = deps/webgpu_tools
	url = https://github.com/williamhCode/webgpu_tools.git
[submodule "deps/msgpack"]
	path = deps/msgpack
	url = https://github.com/msgpack/msgpack-c.git
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "deps/utfcpp"]
	path = deps/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/freetype/freetype.git
